    <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
      <servers>
        <server>
          <id>vytecapp-releases</id>
          <username>vytecapp-user</username>
          <password>vytecapp-user</password>
        </server>
        <server>
          <id>vytecapp-snapshots</id>
          <username>vytecapp-user</username>
          <password>vytecapp-user</password>
        </server>
      </servers>
    </settings>
